* {
 box-sizing: border-box;
}


.TellUs {
 left: 10px;
 padding: 3px;
 display: inline-flex;
 -webkit-box-align: baseline;
 -ms-flex-align: baseline;
 align-items: baseline;
 grid-column: 1 /span 4;
}

body {
 border-radius: 10px;
 background-color: #888;
 font-family: 'PT Sans', Arial, sans-serif;
 text-shadow: 1px 1px 1px black;
 color: white;
 border: 1px dashed blue;
}

h1 {
 font-family: Futura, Arial, sans-serif;
 font-size: 1.5rem;
 color: yellow;
 text-shadow: 1px 1px 1px black;
 font-weight: normal;
 grid-column: 1 / span 3;
 padding: 10px 10px;
}

h2 {
 font-size: 1.5rem;
 color: aqua;
 margin: 10px;
}

h3 {
 font-family: 'Open Sans', sans-serif;
 font-size: 1em;
 text-transform: uppercase;
}

main {
 display: grid;
 background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
 grid-template-columns: 1fr;
 grid-template-rows: 1fr;
 margin: 10px;
 padding: 10px;
 border: 5px solid #999;
 border-radius: 10px;
}

.Grid {
 padding: 10px;
 border: 2px solid #111;
 border-radius: 7px;
 margin: 5px;
}

button .Grid {
 background-color: yellow;

 padding: 10px;
 border: 2px solid #111;
 border-radius: 7px;
 margin: 5px;
}


/*
#Grid1 {
 grid-column: 2 / span 2;
}

#Grid2 {
 grid-column: 1 / span 1;
}

#Grid3 {
 grid-column: 1 / span 1;
}

#Grid4 {
 grid-column: 1 / span 2;

}

#Grid5 {
 grid-column: 1 / span 1;
}

#Grid6 {
 grid-column: 1 / span 2;
}

#Grid7 {
 grid-column: 1 / span 2;
}

#Grid8 {
 grid-column: 1 / span 2;
}

#Grid9 {
 grid-column: 3 / span 2;
}

#Grid10 {
 grid-column: 1 / span 1;
}

#Grid11 {
 grid-column: 2 / span 1;
}

#Grid12 {
 grid-column: 3 / span 1;
}

#Grid13 {
 grid-column: 4 / span 1;
}

#Grid14 {
 grid-column: 1 / span 4;
 text-align: center;
 border-radius: 8px;
 background-color: black;
 text-shadow: 2px 2px 2px red;
 border: 1px solid grey;
}
*/


[type=text] {
 border: 2px solid grey;
 border-radius: 4px;
 width: 100%;
 margin-top: 5px;
}

select {
 border: 2px solid grey;
 width: 100%;
 margin-top: 5px;
 border-radius: 5px;
}

/*
.OuterSection {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 400px;
    border: 3px solid red;
    overflow: hidden;
}

.InnerSection {
    word-wrap: break-word;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 3px solid blue;
    margin: 90px 90px 90px 90px;
    text-align: center;
    text-overflow: ellipsis;
    text-justify: auto;
    line-height: 1.1em;
}
*/
